[gmail-ns]
source        = imaps://nikolas.sepos%40gmail.com:{{ (bitwarden "item" "gmail-nikolas-sepos-pw").login.password }}@imap.gmail.com:993
outgoing      = smtp+plain://nikolas.sepos%40gmail.com:{{ (bitwarden "item" "gmail-nikolas-sepos-pw").login.password }}@smtp.gmail.com:587
default       = INBOX
smtp-starttls = yes
from          = Nikolas Sepos <nikolas.sepos@gmail.com>
copy-to       = Sent

[glt-ns]
outgoing      = smtp+plain://nikolas%40greatlion.tech:{{ (bitwarden "item" "glt-nikolas-pw").login.password }}@smtp.gmail.com:587
source        = imaps://nikolas%40greatlion.tech:{{ (bitwarden "item" "glt-nikolas-pw").login.password }}@imap.gmail.com:993
default       = INBOX
smtp-starttls = yes
from          = Nikolas Sepos <nikolas@greatlion.tech>
copy-to       = Sent

