* {
	border: none;
	font-size: 13px;
	margin: 0px;
	font-family: FiraCode Nerd, Product Sans ,Arial, Helvetica, sans-serif;
  padding: 0px;
}
window#waybar {
	background-color: #2e3440;
	color: #d8dee9;
}
#workspaces {
	background-color: #3b4252;
	font-size: 14px;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
  margin-right: 10px;
}
#workspaces button {
	font-size: 14px;
	border-radius: 0px;
	margin: 0;
	background-color: transparent;
	color: #ffffff;
	padding: 0px 5px 0px 5px;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	box-shadow: inherit;
  text-shadow: inherit;
	color: #5e81ac;
}
#workspaces button.focused,#tags button.occupied {
	color: #81a1c1;
}
#workspaces button.urgent {
	color: #eb4d4b;
}
/* WIDGETS */
#cpu, #custom-pacman, #memory, #backlight, #disk, #network, #pulseaudio, #custom-weather, #temperature, #battery {
	background-color: #3b4252;
	padding: 0px 10px 0px 10px;
}
#disk {
	color:#b48ead;
}
#memory {
	color:#d08770;
}
#cpu {
	color:#c57078;
}
#custom-pacman {
	color: #ebcb8b;
	border-radius: 0px 10px 10px 0px;
	font-weight: 600;
	margin-right: 5px;
}
#pulseaudio {
	color: #8fbcbb;
	border-radius: 10px 0px 0px 10px;
}
#pulseaudio.muted {
	border-radius: 10px;
	color: #4c566a;
}
#temperature{
	color: #88c0d0;
}
#temperature.critical {
	color: #eb4d4b;
}
#battery {
	color: #8fbcbb;
}
#battery.charging {
	color: #ffffff;
}
@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
label:focus {
	background-color: #000000;
}
#clock, #custom-power, #custom-recorder, #tray {
	background-color: #3b4252;
	padding: 0px 10px 0px 10px;
}
#clock {
	font-size: 14px;
}
#tray {
	border-radius: 10px 0px 0px 10px;
	margin-left: 4px;
	color: #8fbcbb;
}
#custom-power {
	font-size: 18px;
	border-radius: 0px 10px 10px 0px;
}
